.slider {

  width: 938px;
  height: 502px;
  background: url(images/picture1.jpg);
  margin: 100px auto;
  animation: slide 10s infinite;
}

@keyframes slide {
  25% {
    background: url(images/picture1.jpg);
  }

  50% {
    background: url(images/picture2.jpg);
  }

  75% {
    background: url(images/picture3.jpg);
  }

  100% {
    background: url(images/picture4.jpg);
  }

}